html {
    background-color: black;
}
canvas {
    outline: red 1.8px solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 1rem;
    width: 700px;
    height: 600px;
    position: relative;
}